<div class="container">
  <section class="section-two">
    <h4 class="h4-header">چجوری شارژ واحدمون رایگان می‌شه؟</h4>
  </section>

  <section class="section-three">
    <p class="sec-descreption">
      فقط کافیه نرم‌افزار آپاراتمانا رو نصب کنید و شارژهای خودتونو از ظریق نرم
      افزار آپاراتمانا رایگان پرداخت کنید. ما هر ماه از بین تمام کاربرانی که
      شارژهای خودشونو از ظریق آپاراتمان پرداخت کردند به قید قرعه شارژ خیلیاشونو
      خودمون ﭘرداخت میکنیم.
    </p>
    <div class="form-Container">
      <button class="btn btn-go" (click)="formColapse()">بزن بریم</button>

      <nz-modal
        [(nzVisible)]="modalVisibility"
        (nzOnCancel)="formColapse()"
        [nzClosable]="false"
      >
        <ng-container *nzModalContent="">
          <form
            nz-form
            (submit)="onFormSubmit()"
            class="form"
            [formGroup]="form"
          >
            <nz-form-item nzAlign="middle">
              <nz-form-control
                nzErrorTip="این فیلد را نمیتوانید خالی بگذارید"
                nzSpan="1-24"
                ><div class="input-container">
                  <nz-input-group>
                    <input nz-input required formControlName="managerName" />
                    <label nzFor="name" nzSpan="5" nzRequired>
                      نام ونام خانوادگی مدیر ساختمان
                    </label>
                  </nz-input-group>
                </div>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="formItem">
              <nz-form-control
                nzSpan="1-24"
                nzErrorTip="لطفا شماره موبایل صحیح وارد کنید "
              >
                <div class="input-container">
                  <nz-input-group>
                    <input nz-input required formControlName="managerPhone" />
                    <label nzFor="name" nzSpan="5" nzRequired
                      >شماره موبایل مدیر ساختمان</label
                    >
                  </nz-input-group>
                </div>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="formItem">
              <nz-form-control
                nzSpan="1-24"
                nzErrorTip="این فیلد را نمیتوانید خالی بگذارید"
              >
                <div class="input-container">
                  <nz-input-group>
                    <input nz-input required formControlName="numberUnit" />
                    <label nzFor="name" nzSpan="5" nzRequired>
                      تعداد واحد ساختمان شما</label
                    >
                  </nz-input-group>
                </div>
              </nz-form-control>
            </nz-form-item>
            <button
              type="submit"
              nz-button
              class="nz-button"
              (click)="OnLoad()"
              [nzLoading]="loading"
            >
              ثبت
            </button>
          </form>
        </ng-container>
      </nz-modal>
    </div>
  </section>
</div>
