$thumb-hover-color: rgba(0, 0, 0, 0.1);
$primary: #03c04a;
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
section {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  text-wrap: pretty;
  margin-top: 10px;
  padding: 10px;
}

.sec-descreption {
  font-family: "Peyda-rg";
  color: #fff;
  // text-wrap: balance;
  font-size: 1.25rem;
  justify-content: space-between;
}

.h4-header {
  font-family: "Peyda-md";
  // display: block;
  font-size: 2.5rem;
  color: #ffff;
  font-weight: bolder;
  // line-height: 3rem;
}

.btn {
  top: 1rem;
  bottom: 1rem;
  padding: 10px;
  font: 1rem "Peyda-md";
  border: none;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;

  background-color: #f35d50;
  border-radius: 15px;
  min-width: 150px;
}
.nz-button {
  background-color: $primary;
  width: 200px;
}
.ant-btn:not([disabled]):hover {
  text-decoration: none;
  color: #fff;
}
.ant-modal-content {
  display: inline-block;
}
// input :focus {
//   position: absolute;
// }

.input-group-clear-icon:hover {
  color: #ff4d4f; /* Adjust the color as needed */
}
.input-container {
  position: relative;
}
.input-group {
  position: relative;
}

/* Style for the clear icon (optional) */
.input-group-clear-icon {
  cursor: pointer;
}

.input-group-clear-icon:hover {
  color: #ff4d4f; /* Adjust the color as needed */
}
p {
  font-family: "Peyda-rg";
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0;
}

