<div class="container">
  <section class="section-two">
    <h4 class="h4-header">چجوری شارژ واحدمون رایگان می‌شه؟</h4>
  </section>
  <section class="section-three">
    <p class="sec-descreption">
      فقط کافیه نرم‌افزار آپاراتمانا رو نصب کنید و شارژهای خودتونو از ظریق نرم
      افزار آپاراتمانا رایگان پرداخت کنید. ما هر ماه از بین تمام کاربرانی که
      شارژهای خودشونو از ظریق آپاراتمان پرداخت کردند به قید قرعه شارژ خیلیاشونو
      خودمون ﭘرداخت میکنیم.
    </p>
    <div class="form-Container">
      <button class="btn btn-go" (click)="formColapse()">بزن بریم</button>
      <nz-modal
        [nzFooter]="footer"
        [(nzVisible)]="modalVisibility"
        (nzOnCancel)="formColapse()"
        [nzClosable]="false"
      >
        <ng-container *nzModalContent="">
          @if(!isSubmitSuccessFull) {
          <form
            nz-form
            class="form"
            [formGroup]="form"
            (ngSubmit)="onFormSubmit()"
          >
            <nz-form-item nzAlign="middle">
              <nz-form-control
                nzErrorTip="این فیلد را نمیتوانید خالی بگذارید"
                nzSpan="1-24"
              >
                <nz-input-group>
                  <div class="input-container">
                    <label nzFor="name" nzSpan="5" nzRequired>
                      نام ونام خانوادگی مدیر ساختمان
                    </label>
                    <input
                      inputValidator
                      nz-input
                      required
                      formControlName="managerName"
                      maxlength="100"
                      nzFor="managerName"
                      #inputElement
                    />
                  </div>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="formItem">
              <nz-form-control
                nzSpan="1-24"
                nzErrorTip="لطفا شماره موبایل صحیح وارد کنید "
              >
                <nz-input-group>
                  <div class="input-container">
                    <label nzFor="phone" nzSpan="5" nzRequired
                      >شماره موبایل مدیر ساختمان</label
                    >
                    <input
                      nz-input
                      required
                      formControlName="managerPhone"
                      maxlength="11"
                      PhoneNumberValidation
                      #inputElement
                    />
                  </div>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="formItem">
              <nz-form-control
                nzSpan="1-24"
                nzErrorTip="این فیلد را نمیتوانید خالی بگذارید"
              >
                <nz-input-group>
                  <div class="input-container">
                    <label nzFor="name" nzSpan="5" nzRequired>
                      تعداد واحد ساختمان شما</label
                    >
                    <input
                      nz-input
                      required
                      formControlName="numberUnit"
                      maxlength="3"
                      #inputElement
                    />
                  </div>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <button
              nz-button
              class="nz-button"
              type="submit"
              [nzLoading]="loading"
            >
              ثبت
            </button>
          </form>
          } @else {
          <p>همکاران ما در اولین فرصت با مدیر ساختمان شما تماس میگیرند</p>
          }
        </ng-container>
      </nz-modal>
      <ng-template #footer> </ng-template>
    </div>
  </section>
</div>
