<div class="container">
  <header>
    <span class="span-one">ﺟﺮﯾﺎن</span>
    <span calss="span-two"
      ><img src="/assets/people.png" alt="people image" class="img-container"
    /></span>
    <span class="span-three">ﭼﯿﻪ</span>
    <span class="span-four">؟</span>
  </header>
  <section class="section-one">
    <p class="sec-descreption">
      آپارتمانا یک نرم افزار برای اعلام و دریافت شارژ ساختمان هست، مدیر نرم
      افزارونصب میکنه واهالی رو عضو نرم افزارمیکنه،ازاین به بعد با نرم افزار
      آپارتمانا اعلام شارژ میکنه، هزینه های ساختمان رو به اطلاع اهالی میرسونه
      و... اهالی هم با نرم افزار شارژشونو پرداخت میکنند و به تمامی خرجو مخارج
      ساختمانشون آگاهی پیدا میکنند.
    </p>
  </section>
  <div class="svg-container">
    <button class="arrow" #arrow>
      <img src="/assets/arrow 1.svg" alt="arrow" />
    </button>
  </div>
</div>
