.container {
  width: 100%;
    header {
      align-items: center;
      margin-top: 5rem;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      flex-direction: row-reverse;
    }
    .img-container {
      position: relative;
      width: 9rem;
    }
    section {
      text-align: center;
      margin-top: 10px;
      padding: 10ox;
    }
    .span-one {
      font-family: "Peyda-md";
      font-size: 3rem;
      color: white;
      //   padding: 0px 1px 0px ;
    }
    .span-three {
      font-family: "Peyda-md";
      font-size: 3rem;
      color: white;
      //   padding: 0px 2px 0px ;
    }
    .span-four {
      font-family: "Peyda-th";
      font-size: 2.75rem;
      color: #fff;
      padding: 0px 6px 0px;
    }

    .sec-descreption {
      font-family: "Peyda-rg";
      color: #fff;
      // text-wrap: balance;
      padding: 5px;
      font-size: 1.25rem;
      justify-content: space-between;
    }
  
  .btn {
    font-family: "Peyda-md";
    font-size: 1.5rem;
    color: #fff;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    background-color: #f75959 !important;
    margin-bottom: 3rem;
  }

  .btn-container {
    top: 1rem;
    bottom: 1rem;
  }
}