/* width */

  ::-webkit-scrollbar {
    width: 5px;
    display: none;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $primary;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.1);
  }

