.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  text-align: center !important;
}
header {
  margin-top: 1rem;
}
span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.span-one {
  font-family: "Peyda-md";
  font-size: 2.5rem;
  color: white;
  line-height: 3.5rem;
}
.span-two {
  font-family: "Peyda-md";
  font-size: 2.5rem;
  color: #ffff;
  font-weight: bolder;
  line-height: 3.5rem;
}
.span-three {
  font-family: "Peyda-md";
  font-size: 2.5rem;
  color: yellow;
  font-weight: bolder;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}
.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  // margin: 1rem;
  object-fit: cover;

  img {
    height: auto;
    width: 100%;
  }
}

.arrow {
  text-decoration: none;
  background: inherit;
  box-shadow: unset;
  border: unset;
  // margin-top: 1rem;
  animation: arrowAnimate 1s infinite;
  img {
    cursor: pointer;
    position: inherit;
    width: 25px;
  }
}
