/* You can add global styles to this file, and also import other style files */
/*   You can mark the path "src/styles.css" as external 
to exclude it from the bundle, which will remove this error 
and leave the unresolved path in the bundle.e unresolved path in the bundle. */

@font-face {
  font-family: "Peyda-th";
  src: url("./assets/fonts/Peyda/Peyda-Thin.ttf");
}
@font-face {
  font-family: "Peyda-rg";
  src: url("./assets/fonts/Peyda/Peyda-Regular.ttf");
}
@font-face {
  font-family: "Peyda-md";
  src: url("./assets/fonts/Peyda/Peyda-Medium.ttf");
}
@keyframes bounce {
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes arrowAnimate {
  0% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
  font-family: "Peyda", sans-serif;
  background-color: #fff;
  overflow: hidden;
}
.swiper {
  margin: auto;
}
.swiper-slide {
  height: auto;
}
// .swiper-slide {
//   .swiper-slide-next {
//     background-color: #fff;
//   }
// }
.swiper-slide swiper-slide {
  overflow: scroll;
}

.swiper-wrapper {
  height: 100vh;
  width: 100%;
}
.swiper-slide {
  .swiper-slide-prev {
    overflow-y: scroll;
  }
}
.ant-modal-footer {
  visibility: hidden;
}
.anticon {
  visibility: hidden;
}
.ant-btn {
  align-content: center;
  width: 9rem;
  background-color: #00bc00;
  border-radius: 20px;
  color: white;
  font-family: "Peyda-th";
  span {
    align-items: center;
  }
}
.ant-modal-body {
  font-family: "Peyda-md";
}

.ant-form {
  display: block;
  align-content: center;
  padding: 10px;
  direction: rtl;
  input {
    height: 50px;
  }

  .ant-input-group > .ant-input:first-child {
    border-radius: 12px;
  }

  .ant-input:focus,
  .ant-input-focused {
    border: 1px solid #06da06;
    box-shadow: none;
  }
  .ant-input-status-error:not(.ant-input-disabled):not(
      .ant-input-borderless
    ).ant-input-focused,
  .ant-input-status-error:not(.ant-input-disabled):not(
      .ant-input-borderless
    ).ant-input:focus {
    border-color: #ff7875;
    box-shadow: none;
  }
  // background-color: red;  }
}
// .ant-input-group {
//   border-radius: 100px;
// }
.ant-modal-content {
  border-radius: 10%;
}
.ant-input-group-addon:last-child,
.ant-input-group-addon:last-child .ant-select .ant-select-selector,
.ant-input-group > .ant-input-affix-wrapper:not(:first-child) .ant-input,
.ant-input-group > .ant-input:last-child,
.ant-input-group > .ant-input:last-child .ant-select .ant-select-selector {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ant-form label {
  font-size: 14px;
  position: absolute;
  top: -13px;
  right: 0;
  font-size: 12px;
  color: #52c41a;
  transition: all 0.3s #52c41a ease-out;
}
.ant-modal-body {
  text-align: center;
}
