/* You can add global styles to this file, and also import other style files */
/*   You can mark the path "src/styles.css" as external 
to exclude it from the bundle, which will remove this error 
and leave the unresolved path in the bundle.e unresolved path in the bundle. */

@font-face {
  font-family: "Peyda-th";
  src: url("./assets/fonts/Peyda/Peyda-Thin.ttf");
}
@font-face {
  font-family: "Peyda-rg";
  src: url("./assets/fonts/Peyda/Peyda-Regular.ttf");
}
@font-face {
  font-family: "Peyda-md";
  src: url("./assets/fonts/Peyda/Peyda-Medium.ttf");
}
@keyframes bounce {
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes arrowAnimate {
  0% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
  font-family: "Peyda", sans-serif;
  background-color: #fff;
  overflow: hidden;
}

.swiper-wrapper {
  height: 100vh;
  width: 100%;
}
.ant-modal-footer {
  visibility: hidden;
}
.anticon {
  visibility: hidden;
}
.ant-btn {
  align-content: center;
  width: 9rem;
  background-color: #00bc00;
  border-radius: 20px;
  color: white;
  font-family: "Peyda-md";
  font-size: 1rem;
  span {
    align-items: center;
  }
}
.ant-modal-body {
  font-family: "Peyda-md";
}

.ant-form {
  display: block;
  align-content: center;
  padding: 10px;
  direction: rtl;
  input {
    height: 50px;
  }

  .ant-input-group > .ant-input:first-child {
    border-radius: 12px;
  }

  .ant-input-status-error:not(.ant-input-disabled):not(
      .ant-input-borderless
    ).ant-input-focused,
  .ant-input-status-error:not(.ant-input-disabled):not(
      .ant-input-borderless
    ).ant-input:focus {
    border-color: #ff7875;
    box-shadow: none;
  }
}

.ant-modal-content {
  border-radius: 10%;
}
.ant-input-group-addon:last-child,
.ant-input-group-addon:last-child .ant-select .ant-select-selector,
.ant-input-group > .ant-input-affix-wrapper:not(:first-child) .ant-input,
.ant-input-group > .ant-input:last-child,
.ant-input-group > .ant-input:last-child .ant-select .ant-select-selector {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ant-form-item-label {
  font-size: 14px;
  position: absolute;
  z-index: 1;
  top: 13px;
  right: 10px;
  overflow: unset;
}
.ant-form-item-label > label {
  display: unset;
  height: 32px;
  color: #b7b7b7;
  font-size: 14px;
}

.ant-form:hover {
  .ant-form-item-label {
    border-collapse: collapse;
    transform: translateY(-30px);
    transition: ease-in-out 100ms;
  }
  label {
    color: #06da06;
  }
  .ant-form-item-explain-error {
    visibility: hidden;
  }
}
.ant-input-group:focus:hover {
  border-collapse: collapse;
}
.ant-input-group .ant-input {
  border-radius: 10px;
  text-align: right;
  color: unset;
}
.ant-input-group:focus {
  color: #06da06;
  border-color: #00bc00;
  box-shadow: none;
}
.ant-input-focused,
.ant-input:focus {
  border-color: none;
  box-shadow: none;
}

.ant-input:hover {
  border-color: #06da06;
}
.ant-modal-body {
  text-align: center;
}
.ant-modal-footer {
  display: none;
}
.ant-form-item-explain {
  text-align: right;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border: none;
  box-shadow: none;
}
